@import "tailwindcss";

@layer utilities{
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar{
        -ms-text-overflow-style:none;
        scrollbar-width: none;
    }
}